{{ define "main" }}
<div class="services-container">
    <h1 class="services-title">Our Services</h1>
    <p>Below you will find our available services.</p>
    <ul class="services-list">
        {{ range .Pages.ByWeight }}
            <li id="{{ .File.BaseFileName }}" class="service-item">
                <h2 class="service-title">{{ .Title | safeHTML }}</h2>
                <div class="service-content-container">
                    {{ .Content }}
                </div>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}
