.contact-container {
    display: flex;
    gap: 20px;

    padding: 0px;
    grid-column: col-start / span 12;      
}

.contact-container > * {
    border: 1px solid rgb(255,255,255);
    padding: 10px;
    margin: 0;
}

.contact-container .contact-description {
    width: 50%;
}

.contact-container .contact-form-container {
    width: 50%;
}

.contact-container .contact-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.contact-container .contact-info li {
    display: flex;
    flex-direction: row;    
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.contact-container .contact-info li > * {
    padding: 0;
    margin: 0;
}

.contact-form-container .contact-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 2px;
}

.contact-form-container .contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form-container .contact-form input {
    margin-bottom: 15px;
}

.contact-form-container .contact-form textarea {
    margin-bottom: 10px;
}

@media (max-width: 768px) { 
    .contact-container {
        flex-direction: column;
    }

    .contact-container .contact-description {
        width: 100%;
    }

    .contact-container .contact-form-container {
        width: 100%;
    }
}