.home-container > * {
  border: 1px solid rgb(255, 255, 255);
  padding: 0px;
  grid-column: col-start / span 12;
}

@media (min-width: 768px) {
    .home-container {
        display: grid;
        gap: 20px;
    }
    .subtitle-container {
        grid-column: 2 / 11;
        text-align: center;
        background-color: black;        
    } 
    .subtitle {
        font-size: 2rem;                
        letter-spacing: 0.1em;
        margin: 0;
    } 
    .home-left {
        grid-column: 1 / 7;
        grid-row-start: 2;
        margin: 0;
    }
    .home-right {
        grid-column: 7 / 13;
        grid-row-start: 2;
        margin: 0;   
    }    

    /* Responsive image on the right of the homepage.*/
    .home-image {
        /* Centers the image in the container. */
        display: block;
        margin-left: auto;
        margin-right: auto;

        /* Constrains the width and makes it responsive. */
        width: 100%;
        max-width: 80%;
        height: auto;  

        /* Rounds the corners of the image. */
        border-radius: 5%;     
    }
}
