{{ define "main" }}
<div class="staff-container">
    <ul class="staff-list">
        {{ range .Pages.ByWeight }}
            <li>                
                <ul class="staff-details">
                        <li class="staff-detail-name">{{ .Title }}</li>
                    {{ with .Params.role }}
                        <li class="staff-detail-role">{{ . }}</li>
                    {{ end }}                                                                                        
                    <li class="staff-detail-bio">
                        {{ with .Params.image }}                        
                        <img class="staff-image" src="/images/staff/{{ . | relURL }}" />                                                    
                        {{ else }}
                        <div class="staff-image staff-placeholder">
                            Image Coming Soon
                        </div>
                        {{ end }}
                        {{ .Content }}                     
                    </li>                    
                </ul>
            </li>
        {{ end }}
    </ul>
</div>
{{end}}