.staff-container {
    display: flex;
    gap: 20px;

    padding: 0px;
    grid-column: col-start / span 12;  
}

.staff-container > * {
    display: flex;
    flex-direction: column;    
}

.staff-container .staff-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;    
}

.staff-container .staff-list li {
    display: flex;
    flex-direction: row;    
}

.staff-container .staff-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.staff-container .staff-list .staff-image {
    height: 375px;
    width: 250px;
    border-radius: 10%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(255,255,255);
}


.staff-container .staff-list .staff-placeholder {
    border: 1px solid rgb(255,255,255);
    border-radius: 10%;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;  
}

.staff-container .staff-details .staff-detail-name {
    font-size: 2.5rem;
}

.staff-container .staff-details .staff-detail-role {
    font-size: 1rem;
}

.staff-container .staff-details .staff-detail-bio {     
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.staff-container .staff-details .staff-detail-bio p {
    padding-bottom: 10px;
    margin: 0;
}
