.home-container {
    flex-direction: column;   
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 0px;
    grid-column: col-start / span 12;
}

.home-left {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/home/olga-epic.png");
    
    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size:cover;

    grid-column: 1 / 7;
    grid-row-start: 2;
    margin: 0;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
    height: 100%;  
}

.description-text {
    text-align:justify;
    padding: 5px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.3);    
}

.home-right {
    grid-column: 7 / 13;
    grid-row-start: 2;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;        
    align-items: center;
    align-content: center;
    width: 100%;
}  

.services-container {   
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.services-caption {
    font-family: 'halyard-micro-bold', sans-serif;
    text-transform: uppercase;
    font-size: 25pt;
    padding: 0;
    margin: 0;
}

ul.services {
    list-style-type: none; /* Remove bullets */
    padding: 10px; /* Remove padding */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 10px;    
}

ul.services li a {        
    /* Card styling */          
    text-align: center;

    /* Link styling. */
    text-decoration: none;
    color: var(--text-color);
}

ul.services li a:hover {
    color: var(--text-muted);    
}

ul.services li a:hover .service-card {
    filter: brightness(0.7);
}

.service-card {              
    display: flex;    
    height: 290px;
    
    align-items: center;        
    text-align: center;        
            
    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Card contents props.*/        
    padding: 5px;
    padding-top: 50%;
    font-size: 0.9rem;

    transition: filter 0.3s ease;
}

.card1 {                      
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/home/Joc.png");
}
.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/home/Lana.png");
}
.card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/home/Olga-Lynn-Coaching.png");
}
.card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/home/Olga-Morgan-Coaching.png");
    padding-left: 10%;    
}

/* Tablets, Laptops, and Desktops (768px and up) */
@media (min-width: 768px) {
    .home-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }    

    .home-left {   
        height: 600px;     
        width: 60%;
    }

    .home-right {
        width: 40%;
    }     
    
    ul.services {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

   .join-text {
        font-size: 1.3rem;
    }
}
