/* Page-specific styles for the home page */
@font-face {
  font-family: 'halyard-micro-bold';
  /* Ensure the file is at static/fonts/halyard-micro-bold.otf */
  src: url('/fonts/halyard-micro-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #000000;
  --card-bg: #121212;
  --text-color: #ffffff;
  --text-muted: #cbc9c9;
  --border-color: #333333;
  --button-color: #747474; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Montserrat-Regular', system-ui, -apple-system, sans-serif;
  font-size: large;
}

h1 {
  font-family: 'halyard-micro-bold', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'halyard-micro-bold', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'halyard-micro-bold', sans-serif;
  text-transform: uppercase;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

.nav-bar-link {
  display: block;
  color: var(--link-color);
}

.active-link {
  border: 1px solid rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;  
}

.container > * {
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 10px;
  grid-column: col-start / span 12;
}

.navbar {  
  display: block;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0.3rem;
}

.navbar-menu-button a {
  color: var(--text-color);
  background-color: var(--button-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 0.2s;
  width: 105px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li a:hover {
  color: var(--text-muted);
}

.header {
  grid-area: "header";
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-title-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.navbar-title {
  font-size: 1.4rem;
  text-align: center;          
  margin: 0;           
} 

.subtitle {    
  font-size: 0.70rem; /* 11.5pt */        
  margin: 0;  
}

.large-button {
  display: block;
  text-align: center;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--text-color);
  font-size: xx-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;  
  width: 300px; 
}

.large-button:hover {
  color: var(--text-muted);
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(255, 255, 255);
  margin: 0;
  padding-left: 2px;
  padding-top: 5px;
  gap: 25px;
}

.footer h3 {
  padding: 0;
  margin: 0;
  font-size: 1.08rem /* 13pt */;
}

.footer .address {
  flex: 1;
}

.footer .hours {
  flex: 1;
}

.footer .address p {
  padding: 0;
  margin: 0;
}

.hours .hours-container {
  width: 332px;
}

.hours .hours-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.hours .hours-container .column-1 {
  flex: 1;
  text-align: right;
}

.hours .hours-container .column-2 {
  flex: 1;
  text-align: left;
}

.footer .contact {
  flex: 1;
}

.footer .copyright {
  flex: 1;
}

/* Tablets, Laptops, and Desktops (768px and up) */
@media (min-width: 768px) {  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;   
  }

  .navbar-title-container {
    align-items: flex-start;
  }

  .navbar-title {
    font-size: 3rem;         
  } 

  .subtitle {
    font-size: 1.2rem;                
  }   

  .navbar-container {
    padding-right: 50px;
  }

  .footer {  
    flex-direction: row;
  }
}
