.services-container {
    display: flex;
    flex-direction: column;
}

.services-title {
    font-size: 3.5rem;  
    margin-bottom: 2px; 
    margin-top: 0; 
}

.service-title {
    font-size: 18pt;
    margin: 0;
}

.services-list {
    margin: 0;
    padding: 0;
}

.services-list .service-item {
    display: flex;
    flex-direction: column;
    background-color: color-mix(in srgb-linear, gray 10%, black 20%);
    border: 1px solid rgb(255,255,255);
    padding: 10px;
    margin: 20px;    
}

@media (max-width: 768px) {
    .service-title {
        font-size: 15pt;
    }
}