<div class="footer">
    <div class="address">                
        <h3>Location</h3>
        <p>{{ site.Params.Address  }}</p>
    </div>
    <div class="hours">
        <h3>Hours</h3>
        <div class="hours-container">
            {{ site.Params.Hours | safeHTML }}
        </div>
    </div>
    <div class="socials">
        <h3>Instagram</h3>
        <a href="https://www.instagram.com/{{ site.Params.instagram }}">@{{ site.Params.instagram }}</a>
    </div>
    <div class="copyright">© {{ site.Params.copyright }}</div>
</div>
