{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav class="navbar">
    <div class="navbar-title-container">
      <h1 class="navbar-title">{{ site.Title }}</h1>
      <h3 class="subtitle">{{ site.Params.Subtitle }}</h3>
      <h3 class="subtitle">{{ site.Params.Address }}</h3>
    </div>
    <div class="navbar-container">
      <ul class="navbar-menu">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </div>
  </nav>  
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-bar-link active-link" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "nav-bar-link ancestor" "aria-current" "true") }}
     {{- else }}
      {{- $attrs = merge $attrs (dict "class" "nav-bar-link inactive-link" "aria-current" "page") }}      
    {{- end }}
    {{- if eq $name "Join Now" }} 
      <li class="navbar-menu-join-button">
    {{- else }}
      <li class="navbar-menu-button">
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
