{{ define "main" }}


<div class="home-container">  
  <div class="home-left">
    <div class="description-container">
      <p class="description-text">North Augusta Barbell is the leading Olympic Weightlifting facility in
      the CSRA and is operating in conjunction with Crossfit North Augusta. The
      only one of its kind in the area, NAB is fully equipped with high quality
      competition kilogram bumper plates and barbells. The facility offers
      personal training, group training, and flexible open gym hours and is open
      to all athletes interested in Olympic Weightlifting.</p>
      <a href="/contact" class="large-button">Get in Touch</a>      
    </div>
  </div>
  <div class="home-right">    
    <div class="services-container"> 
      <p class="services-caption">Services</p>
      <ul class="services">   
        {{ range first 4 (where .Site.RegularPages "Section" "services").ByWeight }}   
          <li>
            <a href="/services#{{ .File.BaseFileName }}">
              <div class="service-card {{ .Params.card }}">
                <h2>{{ .Title | safeHTML }}</h2>
              </div>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ end }}
